# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# Environment
.env

# VS Code
.vscode/settings.json

# Python
.pytest_cache/
.mypy_cache/

# macOS
.DS_Store

# Windows
Thumbs.db

# Node
node_modules/

# Logs
*.log